#recruitment-wrapper
  width: 100%;
  height: 100%;
  background-color: #14679f;
  position: relative;
  overflow: hidden;
  .recruitment-section
    width: 100%;
    &-content
      width: 85%;
      //height: 1600px;
      margin: 0 auto;
      background-color: #fff;
      &-list
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        //border: 1px solid pink;
        .item-img
          width: 612px;
          height: 314px;
        .content-list-abstract
          width: 290px;
          height: 350px;
          padding: 0 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          &.abstract-active
            order: -1;
          .abstract-title
            line-height: 30px;
            font-size: 22px;
            color: #e13834;
          .abstract-content
            height: 150px;
            color: #484848;
            font-size: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
            white-space: normal !important;
            word-wrap: break-word;
            //border: 1px solid pink;
          .more
            display: flex;
            justify-content: flex-start;
            .text-decoration
              text-decoration: none;
              span
                color: #000;
              img
                width: 12px;
                height: 12px;
